[Unit]
Description=Journal to MQTT bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=journal-mqtt
Group=journal-mqtt
SupplementaryGroups=systemd-journal
ExecStart=/usr/local/bin/journal-mqtt --config /etc/journal-mqtt-victron.toml
Restart=on-failure
RestartSec=5s
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
