[Unit]
Description=Journal to MQTT bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StateDirectory=lokimankeli
StateDirectoryMode=0700
ExecStart=/usr/local/bin/lokimankeli --config %h/.config/lokimankeli/config.toml
Restart=on-failure
RestartSec=5s
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=default.target
